<html>
  <head>
  	<title>Create Recipe</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.js"></script>
    <script src="/js/updateInput.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <a type="button" class="btn btn-lg pull-left" href="javascript:history.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      <div class="navbar-brand"><h3>Create a recipe</h3></div>
      <div class="pull-right">
        <a tabindex="0" class="btn" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="Simply create a recipe by typing in its name, ingredients, and instructions. You can add or remove as many ingredients or steps as you'd like, as long as you have at least one for each.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
    </nav>



    {{#if editCreated}}
    <div class="container">
      <form id="recipeForm" action="/viewCreated/{{name}}">
      <div class="form-group">
        <label>Name</label>
        <input required type="text" name="name" class="form-control" placeholder="Name of your recipe" value="{{name}}">
      </div>

      <div class="form-group">
        <label>Ingredients</label>
        {{#each ingredients}}
        {{#unless @index}}
          <div id="inputFormRow">
            <input required type="text" name="ingredients" class="form-control" placeholder="Enter measurement and ingredient" value="{{this}}" style="margin-bottom: 15px">
          </div>
        {{else}}
          <div id="inputFormRow">
            <div class="input-group">
              <input required type="text" name="ingredients" class="form-control" placeholder="Enter measurement and ingredient" value="{{this}}">
              <div class="input-group-btn">
                <button id="removeIng" class="btn btn-outline" type="button">X</button>
              </div>
            </div>
          </div>
        {{/unless}}
        {{/each}}
        <div id="newIng"></div>
        <div class="col text-left">
          <button id="addIng" type="button" class="btn btn-outline">Add ingredient</button>
        </div>
      </div>

      <div class="form-group">
        <label>Instructions</label>
        {{#each instructions}}
          {{#if @index}}
          <div id="inputFormRow2">
            <div class="input-group">
              <span class="input-group-addon numStep" data-value="{{@index}}">{{@index}}</span>
              <input required type="text" name="instructions" class="form-control" placeholder="Enter instruction" value="{{this}}">
              <div class="input-group-btn">
                <button id="removeInstr" class="btn btn-outline" type="button">X</button>
              </div>
            </div>
          </div>
          {{else}}
          <div id="inputFormRow2">
            <div class="input-group">
              <span class="input-group-addon numStep" data-value="{{@index}}">{{@index}}</span>
              <input required type="text" name="instructions" class="form-control" placeholder="Enter instruction" value="{{this}}">
            </div>
          </div>
          {{/if}}
        {{/each}}
        <div id="newInstr"></div>
          <div class="col text-left">
            <button id="addInstr" type="button" class="btn btn-outline">Add step</button>
        </div>
      </div>

        <label>Upload Image</label>
        <!--Upload image-->
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
          <input id="upload" type="file" name="imageURL" onchange="readURL(this);" class="form-control border-0">
        </div>
        <!-- Uploaded image area-->
        <div class="image-area mt-4"><img id="imageResult" src="{{imageURL}}" alt="" class="img-rounded shadow-sm mx-auto d-block img-responsive"></div>

        <div class="col text-right" style="margin-top: 30px; margin-bottom: 80px">
          <button type="submit" class="btn btn-lg btn-default">Next</button>
        </div>
      </form>
    </div>
    {{else}}
    <div class="container">
      <form id="recipeForm" action="/reviewCreate">
      <div class="form-group">
        <label>Name</label>
        <input required type="text" name="name" class="form-control" placeholder="Name of your recipe">
      </div>

    <div class="form-group">
      <label>Ingredients</label>
      <div id="inputFormRow">
          <input required type="text" name="ingredients" class="form-control" placeholder="Enter measurement and ingredient" style="margin-bottom: 15px">
      </div>
      <div id="newIng"></div>
      <div class="col text-left">
        <button id="addIng" type="button" class="btn btn-outline">Add ingredient</button>
      </div>
    </div>

    <div class="form-group">
      <label>Instructions</label>
      <div id="inputFormRow2">
        <div class="input-group">
          <span class="input-group-addon numStep" data-value="0">0</span>
          <input required type="text" name="instructions" class="form-control" placeholder="Enter instruction">
        </div>
      </div>
      <div id="newInstr"></div>
      <div class="col text-left">
          <button id="addInstr" type="button" class="btn btn-outline">Add step</button>
      </div>
    </div>

   
    <label>Upload Image</label>
    <!--Upload image-->
    <p>Warning! Image function is currently in Beta, functionalities may or may not work</p>
    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
      <input id="upload" type="file" name="imageURL" onchange="readURL(this);" class="form-control border-0">
    </div>
    <!-- Uploaded image area-->
    <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-rounded shadow-sm mx-auto d-block img-responsive"></div>

      <div class="col text-right" style="margin-top: 30px; margin-bottom: 80px">
        <button type="submit" class="btn btn-lg btn-default">Next</button>
      </div>
    </form>
  </div>
    {{/if}}


    <div class="footer navbar navbar-default navbar-fixed-bottom text-center">
    <a type="button" class="btn btn-lg" href="/index">
          <span class="glyphicon glyphicon-home"></span>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/find">
          <span class=" glyphicon glyphicon-search "></span></a>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/create">
          <span class=" glyphicon glyphicon-pencil "></span></a>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/yourRecipes">
          <span class=" glyphicon glyphicon-book "></span></a>
    </div>

    <script>

    var divs = document.querySelectorAll('.numStep');
    for (var i = 0; i < divs.length; ++i) {
      divs[i].innerHTML = i + 1;
    }

      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
      }

      $(function () {
          $('#upload').on('change', function () {
              readURL(input);
          });
      });
    </script>
  </body>

</html>
